<html>
	<head>
		<title>{{Title}} - {{Tagline}}</title>
		<link rel="stylesheet" href="{{mainStyle}}" />
		<link rel="stylesheet" href="css/makeit.css" />
		<link rel="stylesheet" href="css/bootstrap-responsive.css" />
	</head>
	<body>
		<div class="jumbotron">
			<h1 class='title'>{{Title}}</h1>
			<h4 class='title'>{{Tagline}}</h4>
		</div>
		<div class="container">
		<div class="row">
			<div class="span3 bs-docs-sidebar">
				<ul class="nav nav-list bs-docs-sidenav affix-top">
					<li>
						<a href="/">Back</a>
					</li>
					<li>Where to find us</li>
					<li>
						<a href="http://goo.gl/gDrPf">Google+</a>
					</li>
					<li>
						<a href="http://goo.gl/3oSzI">Youtube</a>
					</li>
					<li>
						<a href="http://goo.gl/OhgBF">Fab Lab Tulsa</a>
					</li>
					<li>
						<a href="http://goo.gl/6bcDf">Mailing List</a>
					</li>
				</ul>
				<ul class="nav nav-list bs-docs-sidenav">
					<li>Our friends on the internet</li>
					<li>
						<a href="http://goo.gl/3p54V">Tulsa Web Devs</a>
					</li>
				</ul>
			</div>
			<div class="span9 subhead">
				<section>
					<div class="post">
						<H1>{{post.Title}}</H1>
						<p>{{{post.Post}}}</p>
					</div>
				</section>
			</div>
		</div>
		</div>
	</body>
</html>
